.example-full-width {
  width: 30%;
  display:flex;
}


.text2{
  float: right;;
}
.total {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1w8vxZggMFIGOxrQh_5ZDkjSwDTMkXQpvUagVsJsNLPMSRygB");
  
}
