
<h1>Movie Registration Form</h1>
<div class="container col-8">
  <form>
    <div class="form-group">
      <label for="exampleInput" class="bmd-label-floating">MOVIE-NAME</label>
      <input type="text" class="form-control" id="exampleInput">
      </div>
      <div class="form-group">
          <label for="exampleInput" class="bmd-label-floating">MOVIE-POSTER</label>
          <input type="text" class="form-control" id="exampleInput">
          </div>
      <div class="form-group">
      <label for="exampleTextarea" class="bmd-label-floating">Movie Synopsis</label>
      <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>

    </div>
    <div class="form-group">
      <label for="exampleSelect1" class="bmd-label-floating">Example select</label>
      <select class="form-control" id="exampleSelect1">
        <option></option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleSelect2" class="bmd-label-floating">Example multiple select</label>
      <select multiple class="form-control" id="exampleSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
    <label class="bmd-label-floating">MOVIE-FORMAT</label>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" > 
        2D
      </label>
      </div>
      <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> 
        3D
      </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> 
          4D
        </label>
      </div>
    </div>
    <button class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-primary btn-raised">Submit</button>
  </form>
</div>