.example-full-width {
   width: 60%;
   padding-left: 5%;
  padding-right: 17%;
  display:grid;
  
}

 .example-half-width {
   float:right;
   width:57%;
//padding-left: 68%;
//padding-right: 15%;
padding-left: 14%;
//padding-right: 1%;
display: grid;

}
.container{
  margin-top:  20%;
  width:90%;
  height: 70%;
}
.next {
  padding-left: 30%;
}
.next b{
  color:#525F7F;
  margin-left: 4%;
}
//back&reset
.option {
  padding-left: 58%;
  
}
.option b{
  color:#525F7F;
}
.option button {
  margin:9px;
}

.add button {
  margin-left: 90%;
  
   
}
.add {
  margin-top: -4.2%;

}
.add b {
  color:#525F7F;
}
// }

.total {
  // padding-top: 1%;
    //  background-image: url("/src/assets/images/depositphotos_137176364-stock-illustration-clapperboard-pattern-simple-style.jpg");

}
.headings{
   font-family: 'Padauk', sans-serif;
  color: #525F7F;
 
  
}