// .container {
//     position: relative;
//     width: 100%;

// }
.back-im {
    width:100%;
    // margin-top: 3%;
    height:80%;
    background-image: url('http://cdn.in.ticketnew.com/Movie/Devi-movie-images/site-images/images/devi_banner_2.jpg');
 }
 // .bg {
 // opacity: 0.9;
 // filter: alpha(opacity=2);
 // //background-image: url('/src/assets/images/coroselMovieProfile.jpg');
 
 // }
 // .container img {
 //     width: 100%;
 //     height: auto;
 // }
 .col-sm-6 button{
   height: 40px;
 }
.row{
  background-color: #7F8489;
}
 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
   width:200px;
 }
 .class2{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
 }
 
 .container .btn:hover {
    background-color: black;
 }