
.input{
    font-size: 15px;
   border: 2px solid grey;
  margin-left: 800px;
    width: 30%;
    height: 37px;
    float:left;
 }
 
.btn-block{
  color: white;
  background-color:red;
  float:left;
    width:100px;
}
.input:focus {
  color: black;
  
}
.btn-block:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 2px #ccc;
}

.card-header {
  text-transform: capitalize;
  text-align: center;
}
.cityresult{

  margin-top: 20px;
}
// .card{
//   width:100px;
// }
.searchbar{
  background-color: aqua;
}