<!-- Search form -->
<div class="searchbar">
    
            <input type="text" class="input" placeholder="Search movies" name="city" [(ngModel)]="city" #input>

            <button type="submit" class="btn-block  form-control" (click)="searchMovies(input.value)">
                search
                <i class="fa fa-search"></i>
            </button>

</div>
<!-- <nav class="navbar navbar-dark default-color">
    <form class="form-inline my-2 my-lg-0 ml-auto">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>
</nav> -->

<br>
<div class="searchresult">
    <div *ngIf=search_result1>
        <strong>
            <h1>Search Result</h1>
        </strong>
        <div class="row">
            <div class="col-sm-4" *ngFor="let movie of search_result1; let i = index">
                <div *ngIf="i < 2">
                    <div class="card mt-3 mb-3">
                        <div class="card-header">
                            <b>{{ movie.movieName}}</b>
                        </div>
                        <div class="card-body">
                            <img class="card-img-top img-fluid" routerLink="/moviedetail" (click)="getMovieInfo(movie)" src="{{movie.moviePoster}}" alt="{{movie.movieName}}"
                                style="height: 300px">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cityresult">
    <div *ngIf=search_result>

        <strong>
            <h1>Trending Movies</h1>
        </strong>


        <div class="row">
            <div class="col-sm-3" *ngFor="let movie of search_result; let i = index">
                <div *ngIf="i < 9">
                    <div class="card mt-3 mb-3">
                        <div class="card-header text-center">
                            <b>{{ movie.movieName}}</b>
                        </div>
                        <div class="card-body">
                            <img class="card-img-top img-fluid" routerLink="/moviedetail" (click)="getMovieInfo(movie)" src="{{movie.moviePoster}}" alt="{{movie.movieName}}"
                                style="height: 300px">
                            <p class="text-center">{{ movie.original_title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- <mat-grid-list cols="12" (window:resize)="onResize($event)">
    <!-- <mat-grid-list cols="12"> -->
<!-- <h3>Trending Movies</h3>
    <div class="container">
        <div *ngIf=search_result>
            <div class="row">
                <div *ngFor="let movie of search_result; let i = index">
                    <div *ngIf='i < 9'>
                        <mat-grid-tile colspan="3" rowspan="4 ">
                            <div>
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title>
                                            <a>{{movie.movieName}}</a>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <img mat-card-image routerLink="/moviedetail" (click)="getMovieInfo(movie)" src="{{movie.moviePoster}} " alt="Poster of movie"
                                        height="200" width="150">
                                    <!-- <button mat-button routerLink="/moviedetail" (click)="getMovieInfo(movie)">view</button> -->
<!-- </mat-card>
                            </div>
                        </mat-grid-tile>
                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-grid-list>  -->




<app-recommendation></app-recommendation>