<!-- Search form -->
<div class="container col-12">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <div class="row p-5">
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Search movies" name="city" #input>
                        <button type="submit" class="btn-block btn-info form-control" (click)="searchMovies(input.value)"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="unit">...</div>
<div class="container">
    <div *ngIf=search_result1>
        <div class="row">
            <div *ngFor="let movie of search_result1 let i = index">
                <div *ngIf='i < 1'>
                    <h3>Search_results</h3>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <a><b>{{movie.movieName}}</b></a>
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image routerLink="/moviedetail" (click)="getMovieInfo(movie)" src="{{movie.moviePoster}} " alt="Poster of movie"
                            height="200" width="1">
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-grid-list cols="12" (window:resize)="onResize($event)">
    <h3>Trending Movies</h3>
    <div class="container">
        <div *ngIf=search_result>
            <div class="row">
                <div *ngFor="let movie of search_result; let i = index">
                    <div *ngIf='i < 9'>
                        <mat-grid-tile colspan="3" rowspan="4 ">
                            <div>
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title>
                                            <a><b>{{movie.movieName}}</b></a>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <img mat-card-image routerLink="/moviedetail" (click)="getMovieInfo(movie)" src="{{movie.moviePoster}} " alt="Poster of movie"
                                        height="200" width="150">
                                </mat-card>
                            </div>
                        </mat-grid-tile>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-grid-list>

<app-recommendation></app-recommendation>