.unit {
  //  background-color:rebeccapurple;
    background-color:white;
}
form input[type=text]{
    padding-left: 0px;
    font-size: 17px;
   // border: 1px solid grey;
    float: left;
    width: 90%;
}
form button {
  float: left;
  width:37px;
  padding: 11px; 
  color: white;
  border-left: none;
  cursor: pointer;
}
