.registration {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1w8vxZggMFIGOxrQh_5ZDkjSwDTMkXQpvUagVsJsNLPMSRygB")
}
h4{
  padding-top: 0.7%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  //background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJYpANAFX7keUuTcY3GlFeqUonqriquGgcKbUXwzm8d-BO4NOicA");
}

.example-full-width {
  width: 51%;
  padding-left: 4%;
  padding-right: 24%;
}

.example-half-width {
  width:61%;
  padding-left: 36%;
  // padding-right: 2%;
}
 .mt-btn {
   padding-left: 35%;
   padding-top: 2%;
   color:#004B8D;
 }

.seats {
  padding-left: 2%;
  width:13%;

}
.seatType {
 padding-left: 32%;
 
}
.button-color {
  padding-left: 30%;
}
.button-color button {
  color:#004B8D;
}
 .layout b {
  padding-right:3%;
}
.add-theatre {
  padding-top: 2%;
  padding-left: 34%;
 

}