.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

// .example-half-width {
//   width: 65%;
// }
// .total{
//   background-image:url("https://steamuserimages-a.akamaihd.net/ugc/364032107039475236/FF4DDB7CCE4EAE877EEF7E50A5428DFA27EA4226/");
// }
.container{
  opacity: 0.4;
  filter: alpha(opacity=30);}