.background{
    align-content: center;
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/0e/b4/1e/0eb41efdf36bc4c9ca78a54d9f190f0b.jpg")
}
.button{
    width:100px;
    height:100px;
   

}
.explain{
   text-shadow: 2px;
text-decoration-color: blue;
}
.headings{
    font-family: 'Padauk', sans-serif;
  }