<div class="background">

  <div class="eventcard">
    <mat-card class="card">
      <!-- <mat-card-header >
        <mat-card-title class="title">
          <h4>You can accept your invitation here</h4>
        </mat-card-title>
        
      </mat-card-header> -->
      <h2>You can accept your invitation here</h2>

      <!-- <input type="radio" name="Accept" value="Accept"> Accept<br>
  <input type="radio" name="Reject" value="Reject"> Reject<br> -->
      <div class="buttons-div">
        <mat-grid-list cols="2">
          <!-- <button  mat-raised-button color="primary" (click)=accept()>Accept</button> -->
          <mat-radio-group>
            <mat-grid-tile>
              <!-- <button   mat-flat-button  [disabled]="flagAccept"  (click)="accept()">Accept</button> -->
              <mat-radio-button value="1" (click)="accept()">Accept</mat-radio-button>
              <br>
              <!-- <h5 class="headings"*ngIf="flagAccept && !flagReject" >You have accepted the invitation</h5> -->
              <!-- <div *ngIf="flagAccept">
      <button mat-button [disabled]="flagReject" (click)=reDecline()>Reject</button>

    </div> -->
            </mat-grid-tile>
            <!-- <button mat-raised-button color="secondary" (click)=reject()>Reject</button> -->

            <mat-grid-tile>
              <mat-radio-button value="2" (click)=reject()>Reject</mat-radio-button>

              <!-- <h5 class="headings" *ngIf="flagReject ">You have Rejected the invitation</h5> -->
              <!-- <div *ngIf="flagReject">
      <button mat-button [disabled]="flagAccept" (click)=reAccept()>Accept</button>

    </div> -->
            </mat-grid-tile>


            <button class="but" mat-raised-button color="warn" id="add" (click)=route()>
              <b>Submit</b>
            </button>

          </mat-radio-group>

        </mat-grid-list>
      </div>

    </mat-card>
  </div>
</div>