<div class="background">
  <div class="eventcard">
    <mat-card class="card">
      <h2>You can accept your invitation here</h2>
      <div class="buttons-div">
        <mat-grid-list cols="2">
          <mat-radio-group>
            <mat-grid-tile>
              <mat-radio-button value="1" (click)="accept()">Accept</mat-radio-button>
              <br>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-radio-button value="2" (click)=reject()>Reject</mat-radio-button>
            </mat-grid-tile>
            <button mat-raised-button color="primary" id="add" (click)="path()"><b>Submit</b></button>
          </mat-radio-group>
        </mat-grid-list>
      </div>
    </mat-card>
  </div>
</div>
