<div class="container col-sm-6">
    <div class="card">
      <div class="row ">
        <div class="card-block px-6">
          <div class="title h5 text-center">Juggler</div>
          <h6 class="card-title text-center">Your booking is confirmed </h6>
          <p class="card-subtitle text-center">Booking Id:{{bookingDetails.showId}}</p>
          <div class="card-body">
            <div class="direction">
              <img style="padding-top: 2%" src={{bookingDetails.moviePoster}}>
              <p style="padding-top: 2%">{{bookingDetails.nameOfMovie}} {{bookingDetails.screeningTime}}|{{bookingDetails.selectedDate}} {{bookingDetails.theatreLocation}}
                <br> {{bookingDetails.theaterName}}
              </p>
            </div>
            <div class="ticketdetails">
              <div class="SetAligned">
   
                <p>
                  {{bookingDetails.totalNoOfTickets}}
                </p>
                <p id="dir">
                  {{bookingDetails.theaterName}}
   
                </p>
                <br>
                <p id="DownAppearance">Tickets</p>
                <p style="padding-left: 18%">{{bookingDetails.selectedSeatType}}</p>
   
                <p class="shift" *ngFor="let item of bookingDetails.selectedSeats">
                  {{item}}
                </p>
   
              </div>
            </div>
          </div>
   
   
        </div>
   
      </div>
    </div>
   </div>