.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
   float:right;
}
.total {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1w8vxZggMFIGOxrQh_5ZDkjSwDTMkXQpvUagVsJsNLPMSRygB");
}

.container {
  border-radius: 0.5%;
  background-color:white;
  border-block-end-style: groove;
}
.example-full-width {
  width: 55%;
  display:flex;
}
#container {
  display: inline-flex;
  flex-flow: wrap;
}
mat-card {
  background-size: cover;
}
.genre-name {
  color: rgb(241, 36, 36);
}
mat-error {
  color: rgb(34, 47, 233);
}
label {
  display: inline-block;
}
.example-full-width{
  width: 51%;
  padding-right: 15%
}
.second-form{
  width: 51%;
  float: left;
  padding-right: 40%
}
.genre-cards{
  padding-right: 10%;
  padding-bottom: 10%
}
.genre-break{
margin-bottom: 20px
}
.option-cards{
  margin: 5%;
  width: 120px;
  height: 160px;
}