<!-- <div class="d-flex justify-content-center align-items-center"> -->
<div class="popup text-center">
    <a type="button" outline="true" (click)="searchMovies(city[0])">
        <img class="picture" src="https://www.kobster.com/static/img/city/bengaluru.png" />
    </a>
    <a type="button" outline="true" (click)="searchMovies(city[1])">
        <img class="picture" src="https://www.kobster.com/static/img/city/hyderabad.png" />
    </a>
    <a type="button" outline="true" (click)="searchMovies(city[2])">
        <img class="picture" src="https://www.kobster.com/static/img/city/mumbai.png" />
    </a>
    <a type="button" outline="true" (click)="searchMovies(city[3])">
        <img class="picture" src="https://www.kobster.com/static/img/city/chennai.png" />
    </a>
</div>