<h2>Recommended Movies</h2>
<mat-grid-list cols="12">
  <h3>Trending Movies</h3>
  <div class="container">
      
          <div class="row">
              <div *ngFor="let Movie of recommended_Movies; let i = index">
                  <div *ngIf='i < 4'>
                      <mat-grid-tile colspan="3" rowspan="4 ">
                          <div>
                              <mat-card>
                                  <mat-card-header>
                                      <mat-card-title>
                                          <a>{{Movie.name}}</a>
                                      </mat-card-title>
                                  </mat-card-header>
                                  <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/81YRmoEwYtL._SL1464_.jpg" alt="Poster of movie" height="200px" width="150px">
                                  <button mat-button routerLink="/moviedetail" (click)="getMovieInfo(movie)">view</button>
                              </mat-card>
                          </div>
                      </mat-grid-tile>
                  </div>
              </div>
        
      </div>
  </div>
</mat-grid-list>
