.card {
    color:#2E4A62;
   // background-color: #F3D6E4;
    background-color:  #F0EDE5;
    padding-top: 3px;
}
.title {
    
    color:#944743;
}
.unit h4 {
    padding-left: 500px;
    padding-bottom: 30px;
    padding-top: 20px;
   
}
button {
    float:right;
   
   
}
.unit {
    padding-bottom: 30px;
}
.bt {
    padding-right: 60px;
}
