// nav {
//     padding: 1%;
//     margin: 0%;
//     margin-top: 0%;
// }
// .navbar-brand{
//     // margin-left: 0%;
//     // float: left;
//     // background: chocolate;
//     padding: 0%;
// }
// h5{
//     text-align: center;
//     text-orientation: sideways;
// }
// li{
    // align-content: center;
    // background: blue;
    // width: 150px;
    // float: left;
    // margin-left: 0px;
    // height: 80px;
// }
.nav-item h5:hover{
    background-color: grey;  
}
.navbar{
 height: 55px;
}


.input{
    font-size: 15px;
 
 
    width: 70%;
    height: 37px;
    float:left;
 }
 
.btn-block{
    
  color: white;
  background-color:rgb(235, 121, 80);
  float:left;
    width:60px;
}
.input:focus {
  color:rgb(235, 128, 90);
  
}
.btn-block:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 2px #ccc;
}