.example-full-width {
  margin-top: -1%;
  padding-right: 14%;
  padding-left: 4%;
   width:55%;
display: grid;
        }
 .mat-raised-button {
  min-width: 2%;
  }
  .forms {      
-moz-box-shadow:    3px 3px 5px 6px #ccc;
 -webkit-box-shadow: 3px 3px 5px 6px #ccc;
 box-shadow:         3px 3px 5px 6px #ccc;
}
.headings{
  font-family: 'Padauk', sans-serif;
padding-top: 1%;
}