.example-full-width {
   width: 52%;
   padding-right: 10%;
   -webkit-animation-duration: 1s;
       animation-duration: 1s;
       -webkit-animation-name: SkrrrPaPaPum;
       animation-name: SkrrrPapaPum;  }
 .container {
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1w8vxZggMFIGOxrQh_5ZDkjSwDTMkXQpvUagVsJsNLPMSRygB
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1w8vxZggMFIGOxrQh_5ZDkjSwDTMkXQpvUagVsJsNLPMSRygB
");
 }  @keyframes SkrrrPapaPum {
   0% {
     transform: scale(0.1);
     opacity: 0;
   }
   60% {
     transform: scale(1.2);
     opacity: 1;
   }
   100% {
     transform: scale(1);
   }
 }
