<div class="registration">
    <div style="text-align: center">
      <h3 class="headings">
        Event Registration!!
      </h3>
    </div>
  <div class="forms">

<mat-horizontal-stepper class="container my-3" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="rsvpForm1">
    <form [formGroup]="rsvpForm1">
 <ng-template matStepLabel></ng-template>

      <mat-form-field class="example-full-width">

        <mat-label>Event Hoster:</mat-label>

        <input matInput placeholder="Enter Event Hoster" formControlName="eventName" type="text" required>

        <mat-error>This field is required</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Event Name:</mat-label>

        <input matInput placeholder="Enter Event Name" formControlName="creatorName" type="text" required>

        <mat-error>This field is required</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Event Type</mat-label>

        <input matInput placeholder="Enter Event Type" formControlName="eventType" type="text" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Event Guests</mat-label>

        <input matInput placeholder="Enter Guests of an Event" formControlName="eventGuest" type="text" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <div class="next-btn">

        <button  mat-raised-button color="primary" matStepperNext><b>Next</b></button>

      </div>

    </form>

  </mat-step>

  <mat-step [stepControl]="rsvpForm2">

    <form [formGroup]="rsvpForm2">

      <mat-form-field class="example-full-width">

        <mat-label>Event date:</mat-label>

        <input matInput [matDatepicker]="picker" placeholder="EventDate" formControlName="eventDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Enter Event time</mat-label>

        <input matInput placeholder="Event time" formControlName="eventTime" type="text" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Enter number of days</mat-label>

        <input matInput placeholder="no. of days" formControlName="eventDays" type="number" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Enter Event duration</mat-label>

        <input matInput placeholder="Event duration" formControlName="eventDuration" type="text" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Enter Event Location</mat-label>

        <input matInput placeholder="Event location" formControlName="eventLocation" type="text" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <div class="option">

        <button mat-stroked-button color="warn" matStepperPrevious><b>Back</b></button>

        <button mat-stroked-button color="warn" matStepperNext><b>Next</b></button>

      </div>

    </form>

  </mat-step>
<div class="for3-event">
  <mat-step [stepControl]="rsvpForm3">

    <form [formGroup]="rsvpForm3">

      <mat-form-field class="example-full-width">

        <mat-label>Enter Event Description</mat-label>

        <textarea matInput placeholder="Event description" formControlName="Description" type="text" required></textarea>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Enter Event mailId</mat-label>

        <input matInput placeholder="Event mailId" formControlName="emailId" type="email" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Enter invities</mat-label>

        <input matInput placeholder="invities mailId" formControlName="invitiesMail" type="email" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Enter Phone number</mat-label>

        <input matInput placeholder="Phone number" formControlName="phoneNo" type="number" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <div class="form3-btn">

        <button mat-stroked-button color="warn" matStepperPrevious><b>Back</b></button>

        <button mat-stroked-button color="warn" (click)="stepper.reset()"><b>Reset</b></button>
        <button mat-stroked-button color="warn" (click)="saveEvent()"><b>Save</b></button>
      </div>

    </form>

  </mat-step>
  </div>

</mat-horizontal-stepper>
</div>

</div>
