.example-full-width {
   width: 52%;
   padding-right: 10%;
   display:grid;
   
        }
//  .container {
  
//  } 
  
 .example-half-width{
width:90%;
  display:grid;
  padding-left: 30%;
  padding-right: 20%
 }
 .example-width {
   
   display:grid;
  // float:right;
   width:40%;
   margin-left: 27%;
 }
 .next-btn {
   padding-left: 30%;
   
 }
 .next-btn b{
color:#525F7F;
 }
.option {
  
  margin-left: 24%;
  
  
}
.option b{
  color:#525F7F;  
}
.option button {
  margin:11%;
  margin-top: -2%;
}

.form3-btn button {
  margin:10px;
  margin-bottom: 2%;
}
.save {
  //float:right;
  // margin-right: 3%;
  margin-top: -4.5%;
  margin-left: 60%
}
 .save button {
  margin-top: -3%;
  overflow:hidden;
 }
.form3-btn {
  margin-left: 29%;
}
.form3-btn b{
  color:#525F7F;
}
.for3-event {
  margin-left: 10%;
}