<mat-horizontal-stepper class="container my-3" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="rsvpForm1"> 
  
    <form [formGroup]="rsvpForm1">
     
      <mat-form-field class="example-full-width">
        <mat-label><i><b>Enter Event creator</b></i></mat-label>
        <input matInput placeholder="event creator name" formControlName="eventName" type="text" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label><i><b>Enter Event Name</b></i></mat-label>
        <input matInput placeholder="Event name" formControlName="creatorName" type="text" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label><i><b>Enter Event type</b></i></mat-label>
        <input matInput placeholder="Event type" formControlName="eventType" type="text" required>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>
      
<mat-form-field class="example-full-width">
        <mat-label><i><b>Enter guest of event</b></i></mat-label>
        <input matInput placeholder="Event guest" formControlName="eventGuest" type="text" required>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext><b>Next</b></button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="rsvpForm2"> 
    <form [formGroup]="rsvpForm2">
<mat-form-field class="example-full-width">
        <mat-label><i><b>Enter Event date</b></i></mat-label>
        <input matInput placeholder="Event date" formControlName="eventDate" type="text" required>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label><i><b>Enter Event time</b></i></mat-label>
        <input matInput placeholder="Event time" formControlName="eventTime" type="text" required>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>

<mat-form-field class="example-full-width">
        <mat-label><i><b>Enter number of days</b></i></mat-label>
        <input matInput placeholder="no. of days" formControlName="eventDays" type="number" required>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>

<mat-form-field class="example-full-width">
        <mat-label><i><b>Enter Event duration</b></i></mat-label>
        <input matInput placeholder="Event duration" formControlName="eventDuration" type="text" required>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>
        <div>
        <button mat-button matStepperPrevious><b>Back</b></button>
        <button mat-button matStepperNext><b>Next</b></button>
      </div>
    </form>
  </mat-step>

<mat-step [stepControl]="rsvpForm3"> 
    <form [formGroup]="rsvpForm3">
<mat-form-field class="example-full-width">
        <mat-label><i><b>Enter Event Description</b></i></mat-label>
        
        <textarea matInput placeholder="Event description" formControlName="Description" type="text" required></textarea>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label><i><b>Enter Event mailId</b></i></mat-label>
        <input matInput placeholder="Event mailId" formControlName="emailId" type="email" required>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label><i><b>Enter invities</b></i></mat-label>
        <input matInput placeholder="invities mailId" formControlName="invitiesMail" type="email" required>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label><i><b>Enter Phone number</b></i></mat-label>
        <input matInput placeholder="Phone number" formControlName="phoneNo" type="number" required>
        <mat-error>Required/Invalid Input</mat-error>
      </mat-form-field>
<div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()"><b>Reset</b></button>
      </div>
       <div>
      <button mat-raised-button (click)="openDialog()"><b>Add Event</b></button>
     </div>
    </form>
   </mat-step> 
</mat-horizontal-stepper>

  <!-- <form [formGroup]="eventForm" (ngSubmit)="onSubmit()"> -->

  <!-- creatorOfEvent 
  <div class="form-group">
    <label for="creator">Event creator:</label>
    <input
      id="creator"
      type="text"
      class="form-control"
      formControlName="creator">
      <div
      *ngIf="formErrors.creator"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.name">
    </div>
  </div>-->


 <!-- Event Name -->
 <!-- <div class="form-group">
    <label for="name">Event name:</label>
    <input
      id="name"
      type="text"
      class="form-control"
      formControlName="name">
      <div
      *ngIf="formErrors.name"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.name">
    </div>
  </div> -->

  <!-- event type -->
  <!-- <div class="form-group">
    <label for="type">Event type:</label>
    <input
      id="type"
      type="text"
      class="form-control"
      formControlName="type">
      <div
      *ngIf="formErrors.name"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.name">
    </div>
  </div> -->

  <!-- number of days  -->
  <!-- event type -->
  <!-- <div class="form-group">
    <label for="type">Number of days:</label>
    <input
      id="type"
      type="text"
      class="form-control"
      formControlName="type">
      <div
      *ngIf="formErrors.name"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.name">
    </div>
  </div>


  <div
    formGroupName="datesGroup"
    [ngClass]="{'has-danger': eventForm.get('datesGroup').errors}">
    <div class="row"> -->
      <!-- Start date -->
      <!-- <div class="form-group col-sm-12 col-md-6">
        <label for="startDate">Start Date</label>
        <input
          id="startDate"
          type="text"
          class="form-control"
          formControlName="startDate"
          [placeholder]="ef.dateFormat">
          
        <div
          *ngIf="formErrors.datesGroup.startDate"
          class="small text-danger formErrors"
          [innerHTML]="formErrors.datesGroup.startDate">
        </div>
      </div> -->

      <!-- Start time -->
      <!-- <div class="form-group col-sm-12 col-md-6">
        <label for="startTime">Start Time</label>
        <input
          id="startTime"
          type="text"
          class="form-control"
          formControlName="startTime"
          [placeholder]="ef.timeFormat">
          
        <div
          *ngIf="formErrors.datesGroup.startTime"
          class="small text-danger formErrors"
          [innerHTML]="formErrors.datesGroup.startTime">
        </div>
      </div>
    </div> -->

    
      
  <!-- event duration -->
  <!-- <div class="form-group">
    <label for="duration">Event duration:</label>
    <input
      id="duration"
      type="text"
      class="form-control"
      formControlName="duration">
      <div
      *ngIf="formErrors.duration"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.duration">
    </div>
  </div> -->

  <!-- Description: event synopsis -->
  <!-- <div class="form-group">
    <label for="description">Description:</label>
    <textarea
      id="description"
      class="form-control"
      rows="3"
      formControlName="description">
    </textarea>
    <div
      *ngIf="formErrors.description"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.description">
    </div>
  </div> -->

  <!-- emailId -->
  
  <!-- <div class="form-group">
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      class="form-control"
      formControlName="email">
      <div
      *ngIf="formErrors.email"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.email">
    </div>
  </div> -->

<!-- phone number -->
 <!--<div class="form-group">
    <label for="email">Phone number:</label>
    <input
      id="number"
      type="number"
      class="form-control"
      formControlName="number">
      <div
      *ngIf="formErrors.number"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.number">
    </div>
  </div>
  </form> -->