<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="seatlayout.component.ts"></script>
</head>

<div>
  <div class="row">
    <div  class="col-sm-3">
      <b>{{bookingDetail.nameOfMovie}}</b>
    </div>
    <div class="col-sm-3">
      <b> {{bookingDetail.screeningTime}}</b>
    </div>
    <div class="col-sm-3">
      <b> {{bookingDetail.theaterName}},{{bookingDetail.theatreLocation}}</b>
    </div>
    <div class="col-sm-3">
      <b>{{bookingDetail.languages}},{{bookingDetail.format}}</b>
    </div>
  </div>
</div>
<!-- <p class="seats">Select number of seats:
  <select (change)="selectChangeHandler($event)">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
</p> -->

<div class="ArenaLayout">
  <div class="rows" *ngFor="let row of totalRow; let i=index">
    <div class="columns" *ngFor="let col of totalCol">
      <div *ngIf="seatStatus(row,col); else SeatAvailable">
        <!-- <div *ngIf="col!=passage[0] && col!=passage[1] && row!=rowPassage; else Passage"> -->
        <div *ngIf="seatBook(row,col); else SeatBlocked" class="seat booked">
          {{seatname[i]}}{{col+1}}
        </div>
      <ng-template #SeatBlocked>
          <div class="seat blocked">{{row}}{{col}}
          </div>
        </ng-template>
      </div>
    <ng-template #SeatAvailable>
      <div class="seat available" (click)="onclick(row,col)">
      {{row}}{{col}}</div>
    </ng-template>
  </div>
  </div>
</div>
<div class="screen">
  All Eyes here
</div>
<!-- <div>
  <span class="spanBox" style='Background-color:grey'></span>
  <label>Selected Seats</label>
  <span class="spanBox" style='Background-color:red'></span>
  <label>Reserved Seats</label>
  <span class="spanBox"></span>
  <label>Empty Seats</label>
</div> -->
<div class="bookButton">
  <button mat-raised-button color="primary" (click)="sendMessage()" routerLink="/billing">Proceed to pay</button>
</div>
<!-- <div *ngIf="seatSelected(); else disableButton" class="bookButton">
  <button mat-raised-button color="primary" routerLink="/billing" routerLinkActive="active" (click)="bookticket()">Proceed</button>
</div>
<ng-template #disableButton>
  <button style="margin:0 auto; display: block; margin-bottom: .5%;" mat-raised-button disabled color="primary">Proceed</button>
</ng-template>s -->
