.screen {
  display: block;
  text-align: center;
  font-family: cursive;
  margin-top: 20px;
  background-color: grey;
  margin-left: 40%;
  width: 250px;
}
.bookButton button {
  margin-left: 40%;
  display: block;
  width: 120px;
  background-color: blue;
  height: 40px;
}
.bookButton {
  display: block;
  margin-top: 40px;
}
.ArenaLayout {
  border: solid 5px lightgoldenrodyellow;
  width: 400px;
  height: 470px;
  margin-left: 30%;
  background-color: rgb(207, 199, 199);
  margin: auto;
}
.seat {
  width: 24px;
  height: 18px;
  float: left;
  border-radius: 10%;
  background-color:whitesmoke;
  text-align: center;
  font-size: 12px;
  margin-top: 3%;
  margin-left: 4%;
  margin-bottom: 3%;
}

.seatPassage {
  width: 20px;
  height: 20px;
  margin: 5px;
  float: left;
  border-radius: 4px;
}
.available {
  background-color:white;
}
.name {
  margin: 0;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  height: 50px;
}
h2 {
  color: whitesmoke;
  float: left;
}
// .seat:hover {
//   background-color: green;
// }
.booked {
  background-color:green;
}
.selected {
  background-color: blue;
}
.blocked {
  background-color:red;
  pointer-events: none;
}


.col-sm-3{
  text-align: center;
  text-decoration: aqua;
  color:white;
  background-color: rgb(223, 52, 89);
height: 40px;
text-transform: capitalize;
 width: 300px;
 padding: 10px;
 border: 1px solid black;
 
}