<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="seatlayout.component.ts"></script>
</head>
<div class="name">
  <h2>Geethagovindam</h2>
</div>
<p class="seats">Select number of seats:
  <select (change)="selectChangeHandler($event)">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
  </select>
</p>
<div class="ArenaLayout">
  <div class="rows" *ngFor="let row of totalRow; let i=index">
      <div class="columns" *ngFor="let col of totalCol">
          <div *ngIf="col!=passage[0] && col!=passage[1] && row!=rowPassage; else Passage">
              <div class="seat" (click)="onclick(row,col)">
                  {{seatname[i]}} {{col}}
              </div>
              <ng-template #SeatBlocked>
                  <div class="seat blocked">
                    </div>
              </ng-template>
          </div>

          <ng-template #SeatAvailable>
              <div class="seat available">
                </div>
          </ng-template>
      </div>
      <ng-template #Passage>
          <div class="seatPassage">
          </div>
      </ng-template>
  </div>
</div>


<div class="screen">
  All Eyes here
</div>
<div class="bookButton">
  <button mat-raised-button color="primary" (click)="bookticket()">Proceed to pay</button>
</div>